@*
Tile Template
<div class="tile">
    <div class="tile-content slide-up">
        <div class="slide">
            <span class="mif-home"></span>
        </div>
        <div class="slide-over op-crimson text-small padding10">
            A home-project for two.
        </div>
    </div>
</div>
*@

@{
    ViewBag.Title = "Home";
}

<div class="panel" style="width: 25%; height: 100%; background-color: #343434; float:left; border-right: inset black;">
    <div class="heading">
        <span class="mif-user"></span>
        <span class="title">User</span>
    </div>
    <div class="content">

    </div>
</div>
<div class="panel" style="width: 75%; height: 50%; background-color: #343434; float:left;">
    <div class="heading">
        <span class="title">Current Projects</span>
    </div>
    <div class="content">

    </div>
</div>

<div class="panel" style="width: 75%; height: 50%; background-color: #343434; float:left;">
    <div class="heading">
        <span class="title">Recommended Projects</span>
    </div>
    <div class="content">

    </div>
</div>