
@{
    ViewBag.Title = "Home";
}

<div class="panel" style="width: 25%; height: 88%; background-color: #343434; float:left;">
    <div class="heading" style="border-right: inset #007aa8;">
        <span class="mif-user"></span>
        <span class="title">User</span>
    </div>
    <div class="content" style="height:100%; border-right: inset #9e9e9e;">
        <div id="user-upper" style="width:100%; height:25%;">
            <!--Insert user image-->
            <img src="nolink" style="width:50%; height:100%; margin-left:25%;" id="usr_pb"/>
        </div>
        <div id="user-lower" style="width:100%; height:50%; vertical-align:bottom;">
            <p>User: <span style="color: #00a1dd;">User@*@Session["UName"].ToString()*@</span></p>
            <p>E-Mail: <span style="color: #00a1dd;">some@email.thing@*@Session["EMail"].ToString()*@</span></p>
            <br />
            <br />
            <button class="button">Logout</button>
            <button class="button">New Project</button>
        </div>
    </div>
</div>
<div class="panel" style="width: 75%; height: 52.1%; background-color: #343434; float:left;" id="cur_panel">
    <div class="heading" style="border-left: inset #00658b;">
        <span class="title" id="cur_panel_title">Current Projects</span>
    </div>
    <div class="content" style="border-left: inset #121212;">
        <div class="tile">
            <div class="tile-content slide-up">
                <div class="slide">
                    <span class="mif-home"></span>
                </div>
                <div class="slide-over op-crimson text-small padding10">
                    A home-project for two.
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile-content slide-up">
                <div class="slide">
                    <span class="mif-home"></span>
                </div>
                <div class="slide-over op-crimson text-small padding10">
                    Another home-project.
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile-content slide-up">
                <div class="slide">
                    <span class="mif-home"></span>
                </div>
                <div class="slide-over op-crimson text-small padding10">
                    Yet another one ...
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" style="width: 75%; height: 40%; background-color: #343434; float:left;" id="rec_panel">
    <div class="heading">
        <span class="title">Recommended Projects</span>
    </div>
    <div class="content" style="border-left: inset #121212;">
        <div class="tile">
            <div class="tile-content slide-up">
                <div class="slide">
                    <span class="mif-home"></span>
                </div>
                <div class="slide-over op-crimson text-small padding10">
                    A home-project for two.
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile-content slide-up">
                <div class="slide">
                    <span class="mif-home"></span>
                </div>
                <div class="slide-over op-crimson text-small padding10">
                    Another home-project.
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile-content slide-up">
                <div class="slide">
                    <span class="mif-home"></span>
                </div>
                <div class="slide-over op-crimson text-small padding10">
                    Yet another one ...
                </div>
            </div>
        </div>
    </div>
</div>

<div data-role="charm" data-position="bottom" id="bottomCharm">
    <div class="input-control text big-input" style="width:80%;">
        <span class="mif-search prepend-icon"></span>
        <input type="text" placeholder="Enter a word or keyword ..." class="full-size" style="max-width:100%;">
        <button class="button" onclick="OnFind()"><span class="mif-search"></span></button>
    </div>
    <label class="input-control radio" style="margin-left: 5%;">
        <input type="radio" name="n1" value="projects" checked>
        <span class="check"></span>
        <span class="caption">Projects</span>
    </label>
    <label class="input-control radio">
        <input type="radio" name="n1" value="users">
        <span class="check"></span>
        <span class="caption">Users</span>
    </label>
    <input type="hidden" id="charmOpenedStatus" value="false"/>
</div>

<script>
    function OpenCharm() {
        var charm = $("#bottomCharm").data("charm");
        if (charm.element.data("opened") === true) {
            charm.close();
            document.getElementById("rec_panel").style.visibility = "visible";
            document.getElementById("cur_panel").style.height = "52%";
            document.getElementById("cur_panel_title").textContent = "Current Projects";
        }
        else {
            charm.open();
        }
    }

    function OnFind()
    {
        document.getElementById("rec_panel").style.visibility = "hidden";
        document.getElementById("cur_panel").style.height = "92%";
        document.getElementById("cur_panel_title").textContent = "Results";
    }
</script>