@model ProjectBroker.Models.DBModel.pr_project
@{
    ViewBag.Title = "New Project";
}



<div class="wizard2" data-role="wizard2" data-button-labels="{help: ?, prev:<span class='mif-arrow-left'></span>;, next: <span class='mif-arrow-right'></span>, finish: <span class='mif-checkmark'></span>}"
    style="background-color: #cacaca; width:50%; margin: auto;" data-on-help="helpNotif();" data-on-finish="submitNewProject();">

    <div class="step active">
        <div class="step-content">
            Enter project-name:<br />
            <div class="input-control text" style="width: 100%;">
                <input id="pNameTF" type="text" placeholder="Project-name ..." />
            </div><br />
            Enter project-description:<br />
            <div class="input-control textarea" style="width: 100%;">
                <textarea id="pDescTF" style="resize: none;">
                </textarea>
            </div>
        </div>
    </div>
    <div class="step next">
        <div class="step-content">
            Choose your file-hosting environment:<br />
            <div class="input-control select">
                <select name="pr_phs_string_get">
                    <option selected>GitLab</option>
                    <option>GitHub</option>
                    <option>TFS</option>
                </select>
            </div>
        </div>
    </div>
    <div class="step next">
        <div class="step-content">
            Choose your project-management environment:<br />
            <div class="input-control select">
                <select name="pr_pms_string_get">
                    <option>RedMine</option>
                    <option>Jira</option>
                    <option>Microsoft Project</option>
                </select>
            </div>
        </div>
    </div>
    <div class="action-bar next">
        <button class="button cycle-button medium-button wiz-btn-help place-left">?</button>
        <button class="button cycle-button medium-button wiz-btn-finish place-right" style="display: none;" onclick="submitNewProject();"><span class="mif-checkmark"></span></button>
        <button class="button cycle-button medium-button wiz-btn-next place-right"><span class="mif-arrow-right"></span></button>
        <button class="button cycle-button medium-button wiz-btn-prev place-right" style="display: none;"><span class="mif-arrow-left"></span></button>
    </div>

</div>

@using (Html.BeginForm("New", "Main", FormMethod.Post, new { id = "formHelper" }))
{
    @Html.AntiForgeryToken()
}


<script>
    function helpNotif()
    {
        $.Notify({
            caption: 'Help',
            content: 'With this wizard you can create a new project! Please follow the instructions described on the current step and click on next, until you are at the last step and click finish once done.',
            keepOpen: true
        });
    }

    function submitNewProject() {

        var projectName = document.createElement("INPUT");
        projectName.setAttribute("type", "hidden");
        projectName.setAttribute("name", "pr_name_get");
        var pNameValue = document.getElementById("pNameTF").value;
        projectName.setAttribute("value", pNameValue);

        var projectDesc = document.createElement("INPUT");
        projectDesc.setAttribute("type", "hidden");
        projectDesc.setAttribute("name", "pr_desc_get");
        var pDescValue = document.getElementById("pDescTF").value;
        projectDesc.setAttribute("value", pDescValue);

        var form = document.getElementById("formHelper");
        form.appendChild(projectName);
        form.appendChild(projectDesc);

        form.submit();


    }
    
</script>