
@{
    ViewBag.Title = "New Project";
}

<div class="wizard2" data-role="wizard2" 
     data-button-labels='{"help": "?", "prev": "<span class=\"mif-arrow-left\"></span>", "next": "<span class=\"mif-arrow-right\"></span>", "finish": "<span class=\"mif-checkmark\"></span>"}'>
    <div class="step">
        <div class="step-content">

        </div>
    </div>
</div>