
@{
    ViewBag.Title = "Project";
}

<div class="panel" style="background-color: #343434;">
    <div class="heading">
        <span class="title">Project</span><a href='@Url.Action("Index","Main")' style="float:right; text-decoration: none; color: white; margin-right: 10px;"><span class="mif-cross"></span></a> <!--Exit button-->
    </div>
    <div class="content">
        <div class="grid">
            <div class="row cells7">
                <div class="cell">
                    <img src="notvalid.image" style="height:200px; width:200px;" />
                </div>
                <div class="cell colspan6">
                    <div>
                        <h3>Project Title</h3>
                        <p>Project Description<br />Description ...<br />Description ...</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell colspan12">
                    <div class="panel">
                        <div class="heading" style="background-color: #343434;">
                            <span class="title">Team Members</span>
                        </div>
                        <div class="content">
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile-content slide-up">
                                <div class="slide">
                                    <span class="mif-user"></span>
                                </div>
                                <div class="slide-over op-crimson text-small padding10">
                                    Max Mustermann
                                </div>
                            </div>
                        </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>