<?xml version="1.0"?>
<connectionStrings>
  <add name="projectbrokerEntities" connectionString="metadata=res://*/Models.DBModel.DBModel.csdl|res://*/Models.DBModel.DBModel.ssdl|res://*/Models.DBModel.DBModel.msl;provider=Npgsql;provider connection string='Username=postgres;Password=postgres;Host=192.168.99.100;Database=postgres;Application Name=&quot;Project Broker&quot;'" providerName="System.Data.EntityClient" />
</connectionStrings>
